<section name="csharp" class="csharp">
  <p class="ioDesc">Request</p>
  <pre class="incoming"><code class="language-csharp">
//Common testing requirement. If you are consuming an API in a sandbox/test region, uncomment this line of code ONLY for non production uses.
//System.Net.ServicePointManager.ServerCertificateValidationCallback = delegate { return true; };

//Be sure to run "Install-Package Microsoft.AspNet.WebApi.Client" from your nuget command line.
using System.Net.Http;

var baseAddress = "<%- @apiUrl %>";

using (var httpClient = new HttpClient{ BaseAddress = new Uri(baseAddress) })
{

  <% if @helpers.isNotEmpty @headers: %>
  <% for header, value of @headers: %><% header = header.toLowerCase() %>
  <% if header not in ['content-type', 'content-length']: %>
  httpClient.DefaultRequestHeaders.TryAddWithoutValidation("<%- header %>", "<%- value %>");
  <% else if header is 'content-type': %>
  <% @content_type = value %>
  <% end %>
  <% end %>
  <% end %>

  <% if @method in ['GET', 'DELETE']: %>
  var response = await httpClient.<%- @method.charAt(0).toUpperCase() + @method.substring(1).toLowerCase() %>Async("<%- @url %>");
  <% else if @method in ['POST', 'PUT']: %>

  <% if @content_type? : %>
  var content = new StringContent(<%- @helpers.escape(@body) %>, System.Text.Encoding.Default, "<%- @content_type %>");
  <% else : %>
  var content = new StringContent(<%- @helpers.escape(@body) %>);
  <% end %>

  var response = await httpClient.<%- @method.charAt(0).toUpperCase() + @method.substring(1).toLowerCase() %>Async("<%- @url %>", content);
  <% end %>

  string responseData = await response.Content.ReadAsStringAsync();

}
</code></pre></section>
