<section name="curl" class="curl">
  <p class="ioDesc">Request</p>
  <pre class="incoming"><code class="language-bash">curl --include<% if @headers: %><% for header,value of @headers: %> --header <%= @helpers.escape "#{header}: #{value}" %><% end %> \
    <% end %><% if @method isnt 'GET' or @body: %> --request <%= @method %> \
    <% end %><%if @method isnt 'GET' and (@contentType is "text/html" or @contentType is "text/plain"):  %> --data "<%= ((@helpers.escape line)[1..-2] + "\n" for line in @body)[0..-2] %>" \
    <% else  if @body: %> --data <%= @helpers.escape @body %> \
    <% end %>"<%= @apiUrl %><%= @url %>"</code></pre>
</section>
