<section name="nodejs">
  <p class="ioDesc">In</p>
  <pre class="incoming brush:js">
var request = require("request");
<% if @method is "GET" and not @headers: %>
request("<%= @apiUrl %><%= @url %>", function (error, response, body) {
<% else : %>
request({
  url: "<%= @apiUrl %><%= @url %>",<% if @body: %>
  body: <%= @helpers.escape @body.join('') %>,<% end %><% if @helpers.isNotEmpty @headers: %>
  headers: {<%= ("#{@helpers.escape header}: #{@helpers.escape value}" for header,value of @headers).join(", ") %>}, <% end %>
  method: "<%= @method.toUpperCase() %>"
}, function (error, response, body) {
<% end %>  console.log("Reponse received", response);
});

</section>
