<section name="objc" class="objc">
  <p class="ioDesc">Request</p>
  <pre class="incoming"><code class="language-objc">

NSURL *URL = [NSURL URLWithString:@"<%= @apiUrl %><%= @url %>"];

NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:URL];  
[request setHTTPMethod:@"<%= @method.toUpperCase() %>"];  

<% if @headers and @helpers.isNotEmpty @headers: %>
<% for header, value of @headers: %>
[request setValue:@<%= @helpers.escape value %> forHTTPHeaderField:@<%= @helpers.escape header %>];
<% end %>
<% end %>

<% if @body?.length > 0: %>
[request setHTTPBody:[@<%= @helpers.escape @body %> dataUsingEncoding:NSUTF8StringEncoding]];
<% end %>

NSURLSession *session = [NSURLSession sharedSession];
NSURLSessionDataTask *task = [session dataTaskWithRequest:request
                                        completionHandler:
                              ^(NSData *data, NSURLResponse *response, NSError *error) {
                                  
                                  if (error) {
                                      // Handle error...
                                      return;
                                  }
                                  
                                  if ([response isKindOfClass:[NSHTTPURLResponse class]]) {
                                      NSLog(@"Response HTTP Status code: %ld\n", (long)[(NSHTTPURLResponse *)response statusCode]);
                                      NSLog(@"Response HTTP Headers:\n%@\n", [(NSHTTPURLResponse *)response allHeaderFields]);
                                  }
                                
                                  NSString* body = [[NSString alloc] initWithData:data encoding:NSUTF8StringEncoding];
                                  NSLog(@"Response Body:\n%@\n", body);
                              }];
[task resume];</code></pre></section>
