<%
    hasHeaders = @helpers.isNotEmpty @headers
    hasData = @method not in ['TRACE', 'GET', 'HEAD'] and @body
%>
<section name="python" class="python">
  <p class="ioDesc">Request</p>
  <pre class="incoming"><code class="language-python">from __future__ import print_function
import requests

<% if hasHeaders: %>
headers = {
<%= ("    #{@helpers.escape header}: u#{@helpers.escape value}" for header, value of @headers).join ",\n" %>

}
<% end %>
<% if hasData: %>
data = ur"""<%= @body %>"""
<% end %>

response = requests.<%= @method.toLowerCase() %>("<%= @apiUrl %><%= @url %>"<% if hasHeaders: %>,
                      <%= (Array(@method.length).join " ") + "headers=headers" %><% end %><% if hasData: %>,
                      <%= (Array(@method.length).join " ") + "data=data" %><% end %>)

print(response.text)</code></pre>
</section>
