<section name="ruby" class="ruby">
  <p class="ioDesc">In</p>
  <pre class="incoming"><code class="language-ruby">require 'rubygems'
require 'rest_client'
<% if @body and @contentType is "application/x-www-form-urlencoded": %>values   = CGI::escape(<%= @helpers.escape @body.join('') %>)
<% else if @body and @contentType is "application/json":             %>values   = <%= @helpers.escape @body.join('') %>
<% else if @method isnt 'GET' and (@contentType is "text/html" or @contentType is "text/plain"):  %>values  = <%= @helpers.escape @body.join("\n") %>
<% else if @body and @body.join(''):                                                    %>values   = <%= @helpers.escape @body.join('') %>
<% end %><% if @helpers.isNotEmpty @headers: %>headers  = {<%= [':'+@helpers.rubyKey header+' => '+@helpers.escape value for header,value of @headers].join(", ") %>}
<% end %>response = RestClient.<%= @method.toLowerCase() %> "<%= @apiUrl %><%= @url %>"<% if @body and @body.join(''): %>, values<% end %><% if @helpers.isNotEmpty @headers: %>, headers<% end %>
puts response</code></pre>
</section>
