<section name="ruby" class="ruby">
  <p class="ioDesc">In</p>
  <pre class="incoming brush:ruby">
require 'rubygems'
require 'rest_client'

<% if @body and @contentType is "application/x-www-form-urlencoded": %>values   = CGI::escape(<%= @helpers.escape @body.split('\n').join('') %>)
<% else if @body and @contentType is "application/json":             %>values   = <%= @helpers.escape @body.split('\n').join('') %>
<% else if @body and @body.split('\n').join(''):                                                    %>values   = <%= @helpers.escape @body.split('\n').join('') %>
<% end %><% if @helpers.isNotEmpty @headers: %>headers  = {<%= [':'+@helpers.rubyKey header+' => '+@helpers.escape value for header,value of @headers].join(", ") %>}
<% end %>response = RestClient.<%= @method.toLowerCase() %> "<%= @apiUrl %><%= @url %>"<% if @body : %>, values<% end %><% if @helpers.isNotEmpty @headers: %>, headers<% end %>
puts response
</pre>
</section>
